<div class="d-flex bg-side flex-column justify-content-center align-items-center min-vh-100 text-white">
  <p class="fw-light fs-2 m-md-1">New Product</p>
  <div class="w-25">
    <hr class="new-product">
  </div>
  <p class="pt-2 fs-1 m-md-1 font-weight-bold-custom">Request success</p>
  <p class="pt-1 mb-0 fw-lighter text-center fs-6 text-break">Your order has been sent successfully.</p>
  <p class="fw-lighter text-center fs-6">an advisor will contact you soon.</p>
  <div class="d-grid gap-2 col-8  col-md-4 col-lg-2">
    <a type="button" [routerLink]="'/home/accounts'" class="btn btn-tertiary fw-bold btn-lg mt-3">
      Go Home
    </a>
  </div>
</div>
