<div class="container-fluid bg-side min-vh-100">

  <!-- brand -->
  <div class="row pb-3">
    <div class="col-12 col-md-11 offset-md-1 pt-5">
      <img src="../../../../../assets/icon-dream-bank-white.png"
           width="200"
           alt="dream bank">
    </div>
  </div>
  <!-- brand -->

  <div class="row text-md-end pt-5 pb-5">

    <div class="col-12 col-md-5 offset-md-3">


      <!-- title login -->
      <diV class="row">
        <div class="col-12 col-md-10 offset-md-2 text-center text-white">
          <span style="font-size: 1.0rem">Request</span>
          <div class="bg-tertiary mx-auto"
               style="width: 90px; height: 3px; border-radius: 4px">
          </div>
          <h2 class="font-weight-bold-custom mt-2">New Product</h2>
        </div>
      </diV>
      <!-- title login -->

      <!-- text login -->
      <diV class="row py-4">
        <div class="col-12 col-md-10 offset-md-2 text-center text-white">
          <p>Instant payments, and a lot of withdrawal methods available.
          </p>
        </div>
      </diV>
      <!-- text login -->


      <app-new-product-form></app-new-product-form>


    </div>
  </div>

</div>

