<form [formGroup]="form" (ngSubmit)="createNewProduct()">

  <!-- INPUT PRODUCT -->
  <div class="form-group row pb-3">
    <label
      class="col-3 col-form-label text-white">
      Product
    </label>
    <div class="col-12 col-md-9 pb-2">
      <app-select [items]="cities"
                  [instanceForm]="form"
                  controlName="id">
      </app-select>
      <div appNgxErrors="id">
        <div class="text-start"
             appNgxError="id"
             ngxError="required"
             when="dirty">
          <small class="text-danger">
            Please, select product
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- INPUT PRODUCT -->

  <!-- INPUT CELLPHONE -->
  <div class="form-group row">
    <label for="cellphone"
           class="col-3 col-form-label text-white">
      Cellphone
    </label>
    <div class="col-12 col-md-9 pb-4">
      <input formControlName="cellphone"
             class="form-control text-white"
             id="cellphone"
             placeholder="">
      <div class="form-text text-white text-start">Write the number you want to be contacted at</div>
      <div appNgxErrors="cellphone">
        <div class="text-start"
             appNgxError="cellphone"
             ngxError="required"
             when="dirty">
          <small class="text-danger">
            Please, enter a valid cellphone
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- INPUT CELLPHONE -->

  <!-- INPUT CELLPHONE -->
  <div class="form-group row">
    <label for="monthly"
           class="col-3 col-form-label text-white">
      Monthly income
    </label>
    <div class="col-12 col-md-9 pb-4">
      <input formControlName="monthly"
             class="form-control text-white"
             id="monthly"
             placeholder="">
      <div class="form-text text-white text-start">Give us an average income</div>
      <div appNgxErrors="monthly">
        <div class="text-start"
             appNgxError="monthly"
             ngxError="required"
             when="dirty">
          <small class="text-danger">
            Please, enter a valid Monthly
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- INPUT CELLPHONE -->


  <!-- BTN LOGIN -->
  <div class="row">
    <div class="d-grid gap-2 col-12 col-md-9  ms-auto">
      <button class="btn btn-tertiary btn-lg fw-bold">
        Send
      </button>

      <a class="text-white text-center" [routerLink]="'/home/accounts'"
         style="text-decoration: none; cursor: pointer"> Cancelar </a>

    </div>
    <!-- BTN LOGIN -->

    <!-- ERROR NEW REQUEST PRODUCT -->
    <div *ngIf="error" class="text-danger text-center fw-bold">
      <span>{{ error?.error?.message }}</span>
      <div *ngIf="!error?.error?.message">
        <h6>
          <span>{{ error?.message }}</span>
        </h6>
      </div>
    </div>
    <!-- ERROR NEW REQUEST PRODUCT -->


  </div>
</form>


