<div class="container-fluid">

  <!-- brand -->
  <div class="row pb-3">
    <div class="col-12 col-md-11 offset-md-1 pt-5">
      <img src="../../../../assets/logo.png"
           width="200"
           alt="dream bank">
    </div>
  </div>
  <!-- brand -->

  <div class="row text-md-end pb-5">

    <div class="col-12 col-md-5 offset-md-3  ">

      <!-- title login -->
      <diV class="row">
        <div class="col-12 col-md-10 offset-md-2 text-center text-main">
          <span class="font-weight-bold-custom" style="font-size: 1.2rem">Welcome back</span>
          <div class="bg-tertiary mx-auto"
               style="width: 90px; height: 3px; border-radius: 4px">
          </div>
          <h2 class="font-weight-bold-custom mt-2">Login</h2>
        </div>
      </diV>
      <!-- title login -->

      <!-- text login -->
      <diV class="row py-4">
        <div class="col-12 col-md-10 offset-md-2 text-center text-main">
          <p>For your money safety, please delete all extensions <br>
            for the browser yoy use to log in to your wallet
          </p>
        </div>
      </diV>
      <!-- text login -->

      <!-- form login -->
      <app-login-form></app-login-form>
      <!-- form login -->

      <!-- register  -->
      <div class="row pt-5 align-items-center">
        <div class="col-6">
          <div class="text-start float-end">
            <span class="text-main" style="font-size:1.2rem">
              Dont have an account ?
          </span>
            <div>
              <span class="text-main" style="font-size:0.9rem">
            Register here
                <em class="bx bx-right-arrow-alt" style="font-size: 25px; position: absolute"></em>
          </span>

            </div>

          </div>
        </div>

        <div class="col-6 text-end">
          <button
            class="btn btn-outline-tertiary border-2 text-main fw-bold">
            Create account
          </button>
        </div>
      </div>
      <!-- register  -->

    </div>

  </div>

</div>
