<app-template>
  <ng-template #contentTemplate>

    <div class="d-flex flex-row align-items-center justify-content-end py-1">
      <div class="p-2 bd-highlight">
        <em class="bx bxs-bell text-secondary"
            style="font-size: 20px">
        </em>
      </div>

      <div class="p-2 bd-highlight">
        <em class="bx bxs-message-rounded text-secondary"
            style="font-size: 20px">
        </em>
      </div>

      <div class="p-2 bd-highlight">
        <app-avatar-user class="dropdown"
                         role="button"
                         id="dropdownMenuLink"
                         data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false"
                         [name]="'Sebastian Bermudez'"
                         [size]="'50px'"
                         [fontSizeName]="'13px'"
                         [fontColor]="'#0547ca'"
                         [viewText]=true>
        </app-avatar-user>
      </div>

    </div>


  </ng-template>
</app-template>




