<ng-container [formGroup]="instanceForm">
  <ng-select #select [items]="items"
             [formControlName]="controlName"
             [searchable]="false"
             bindLabel="name"
             bindValue="id"
             class="custom-ng-select">
    <ng-template ng-header-tmp>
      <input class="input-ng-select"
             type="text"/>
    </ng-template>
  </ng-select>
</ng-container>

