@import "../../../../theme/custom-varibles";

.custom-ng-select {
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px 13px;
}

ng-dropdown-panel.custom-ng-select {
  min-width: 500px !important;
  background-color: red;
}


::ng-deep .ng-dropdown-panel {
  left: 0;
  top: 45px;
  background: #184378;
  padding: 16px;
  border: 1px solid $tertiary;
  border-radius: 5px;
  text-align: start;
}

.input-ng-select {
  width: 100%;
  line-height: 24px;
  background: transparent;
  border: 1px solid $tertiary;
  border-radius: 5px;
  height: 35px;
  color: white;
}
