<div class="card shadow-sm" style="border-radius: 8px !important;">

  <div class="card-header bg-white">
         <span class="text-side fw-bold" style="font-size: 13px">
           Last Transactions
         </span>
  </div>

  <div class="table-responsive text-center">


    <ng-container *ngIf="DetailAccountList$ | async as accounts; else loading">

      <table class="table table-borderless table-hover table-hover-custom text-start">
        <thead>
        <tr class="text-main" style="font-size: 13px">
          <th scope="col">date</th>
          <th scope="col">description</th>
          <th scope="col">currency</th>
          <th scope="col">value</th>
          <th scope="col">balance</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.date }}</td>
          <td>{{ account.description }}</td>
          <td>{{ account.currency }}</td>
          <td>{{ account.value }}</td>
          <td>{{ account.balance }}</td>
        </tr>
        </tbody>

      </table>
    </ng-container>

    <ng-template #loading>
      <ng-container *ngIf="errorObject; else loading">
        <div class="col-12 text-center fw-bold text-danger p-4">
          Apparently an error occurred, try again or contact support
        </div>
      </ng-container>
      <ng-template #loading>
        <div class="col-12 text-center fw-bold  p-4">
          Loading ...
        </div>
      </ng-template>
    </ng-template>

  </div>

</div>


