<div class="row align-items-center">

  <div class="text-center bg-white rounded-circle border d-table col-3"
       [ngStyle]="{ 'width': size, 'height':size }">
        <span class="d-table-cell align-middle text-dark"
              [ngStyle]="{'font-size': fontSize}">
            {{ name | capitalLetters }}
        </span>
  </div>

  <ng-container *ngIf="viewText == true">
    <div class="col-9">
          <span class="font-weight-bold d-inline-block text-truncate position-relative"
                style="min-width: 170px; top:15px"
                [ngStyle]="{'font-size': fontSizeName, 'color': fontColor }">
              {{ name }}
          </span>
      <div>
          <span class="font-weight-light mt-2 d-inline-block text-truncate"
                [ngStyle]="{'font-size': fontSizeSubtitle,'color': fontColor}">
            {{ title }}
          </span>
      </div>
    </div>
  </ng-container>

</div>
