<div class="row">

  <div class="col-12 py-4">
    <app-table-accounts></app-table-accounts>
  </div>

</div>

<div class="row">

  <div class="col-12 col-md-8">

    <div class="d-flex align-items-center py-3">
      <em class="bx bxs-credit-card-alt text-main" style="font-size: 40px"></em>
      <span class="font-weight-bold-custom text-main">Waller</span>
    </div>


    <div class="row">


      <div class="col-12 col-md-6">

        <div class="credit-card1 shadow-sm bg-main ps-4 pb-2">
          <img src="../../../../../../../../assets/logo-mastercard.png"
               alt="logo-mastercad"
               width="60px"
               class="pt-3">
          <div class="row text-white fs-9">
            <div class="col-3">
              <p>••••</p>
            </div>
            <div class="col-3">
              <p>••••</p>
            </div>
            <div class="col-3">
              <p>••••</p>
            </div>
            <div class="col-3">
              <p>0113</p>
            </div>
            <div class="col-9">
              <p>MICHAEL SCOTT</p>
            </div>
            <div class="col-3">
              <p>11/22</p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <span class="text-main fw-bold">Remaining Amount</span>
          <div class="progress bg-complement" style="max-width: 270px; height: 10px">
            <div class="progress-bar bg-tertiary"
                 role="progressbar"
                 style="width: 38%;"
                 aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
          </div>
        </div>


      </div>

      <div class="col-12 col-md-6">

        <div class="credit-card1 shadow-sm bg-secondary ps-4 pb-2">
          <img src="../../../../../../../../assets/logo-mastercard.png"
               alt="logo-mastercad"
               width="60px"
               class="pt-3">
          <div class="row text-white fs-9">
            <div class="col-3">
              <p>••••</p>
            </div>
            <div class="col-3">
              <p>••••</p>
            </div>
            <div class="col-3">
              <p>••••</p>
            </div>
            <div class="col-3">
              <p>0113</p>
            </div>
            <div class="col-9">
              <p>MICHAEL SCOTT</p>
            </div>
            <div class="col-3">
              <p>11/22</p>
            </div>
          </div>
        </div>


        <div class="pt-4">
          <span class="text-main fw-bold">Remaining Amount</span>
          <div class="progress bg-complement" style="max-width: 270px; height: 10px">
            <div class="progress-bar bg-tertiary"
                 role="progressbar"
                 style="width: 38%;"
                 aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
          </div>
        </div>

      </div>

    </div>


  </div>

  <div class="col-12 col-md-4">

    <div class="d-flex align-items-center py-2">
      <em class="bx bxs-badge-dollar text-main" style="font-size: 40px"></em>
      <span class="font-weight-bold-custom text-main">Your Budgets</span>
    </div>

  </div>


</div>

<div class="row ">
  <div class="col-auto mx-auto py-5">
    <div class="bg-tertiary py-2 px-4 text-center shadow-sm mt-4 text-side fw-bold" style="border-radius: 5px; min-width:
    400px">
         <span>
           We are studying your order, <br>
            we will contact you soon
         </span>
    </div>
  </div>
</div>




