// FONT FAMILY

@import "./custom-varibles";

$theme-colors: ("main": $main, "side": $side, "tertiary": $tertiary, "complement":$complement);

$gray-400: #ced4da !default;

$btn-border-radius: 5rem !default;
$btn-border-radius-sm: 5rem !default;
$btn-border-radius-lg: 5rem !default;

$input-border-color: $main;

// IMPORT STYLES BOOPSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap";
