<div class="row">
  <app-sidebar></app-sidebar>
</div>

<main class="col-md-9 ms-sm-auto col-lg-10">
  <app-navbar></app-navbar>
  <app-user-bar></app-user-bar>

  <app-template>
    <ng-template #contentTemplate>
      <router-outlet></router-outlet>
    </ng-template>
  </app-template>

</main>





