<div class="alert-secondary p-3 my-3  align-items-center" style="border-radius: 5px !important;">
  <span class="fw-bold text-muted"> {{ accountDetail.name }} </span>
  <em (click)="back()" class="bx bx-log-in text-main float-end" style="font-size: 25px; cursor: pointer"></em>
</div>
<app-table-account-detail></app-table-account-detail>
