<div class="bg-main p-3">

  <app-template>
    <ng-template #contentTemplate>

      <div class="row align-items-center">

        <div class="col-12 col-md-4">

          <app-avatar-user class="dropdown"
                           role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           [name]="'Welcome back, Victor!'"
                           [title]="'Your last login was 09/06/2016 05:34:59 PM  PHT'"
                           [size]="'70px'"
                           [fontSizeName]="'16px'"
                           [fontSizeSubtitle]="'10px'"
                           [fontColor]="'#ffffff'"
                           [viewText]=true>
          </app-avatar-user>


        </div>

        <div class="col-12 col-md-4 text-white text-md-center">

          <span style="font-size: 11px">Total Balance</span>
          <div>
            <span class="" style="font-size: 22px">$17,288.29</span>
          </div>

        </div>

        <div class="col-12 col-md-4 text-white text-md-end">


          <div class="pb-1">
            <button [routerLink]="'/new-product'" class="btn btn-sm col-8 btn-outline-tertiary">
              Request new product
            </button>
          </div>
          <button class="btn btn-sm col-8 btn-outline-tertiary">
            Make a Transfer
          </button>

        </div>


      </div>


    </ng-template>
  </app-template>

</div>
