<div class="container-fluid">
  <div class="row">
    <diV class="col-12 col-md-12 col-lg-10 mx-auto">
      <ng-container [ngTemplateOutlet]="contentTemplate">
      </ng-container>
    </diV>
  </div>
</div>



