@import "../../../../../../../theme/custom-varibles";

.error-input {
   background: white url('../../../../../../../assets/icon-input-x.png') right no-repeat;
   padding-right: 20px;
   border: 1px solid $complement !important;
 }

.checkInput {
  background: white url('../../../../../../../assets/icon-input-check.png') right no-repeat;
  padding-right: 20px;
}
