<form [formGroup]="form" (ngSubmit)="login()">

  <!-- INPUT LOGIN -->
  <div class="form-group row">
    <label for="inputDni"
           class="col-3 col-form-label">
      Login
    </label>
    <div class="col-12 col-md-9 pb-2">
      <input type="text"
             formControlName="dni"
             [ngClass]="{ 'error-input': dni?.errors }"
             class="form-control"
             id="inputDni"
             placeholder="">
      <div appNgxErrors="dni">
        <div class="text-start"
             appNgxError="dni"
             ngxError="required"
             when="dirty">
          <small class="text-danger">
            Please, enter a valid DNI
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- INPUT LOGIN -->

  <!-- INPUT PASSWORD -->
  <div class="form-group row">
    <label for="inputPassword3"
           class="col-3 col-form-label">
      Password
    </label>
    <div class="col-12 col-md-9 pb-4">
      <input type="password"
             formControlName="password"
             class="form-control"
             id="inputPassword3"
             placeholder="">
      <div appNgxErrors="password">
        <div class="text-start"
             appNgxError="password"
             ngxError="required"
             when="dirty">
          <small class="text-danger">
            Please, enter a valid password
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- INPUT PASSWORD -->

  <!-- BTN LOGIN -->
  <div class="row">
    <div class="d-grid gap-2 col-12 col-md-9  ms-auto">
      <button class="btn btn-main btn-lg fw-bold"
              [disabled]="!form.valid || loading">
        Login
      </button>

      <!-- ERROR LOGIN -->
      <div *ngIf="error" class="text-danger text-center fw-bold">
        <span>{{ error?.error?.message }}</span>
        <div *ngIf="!error?.error?.message">
          <h6>
            <span>{{ error?.message }}</span>
          </h6>
        </div>
      </div>
      <!-- ERROR LOGIN -->

    </div>
    <!-- BTN LOGIN -->

  </div>
</form>

