/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
}


.font-weight-bold-custom {
  font-family: "Quicksand SemiBold";
}

.table-hover-custom > tbody > tr:hover {
  border-left: 3px solid #03d9e5;
  cursor: pointer;
}

