<div class="card shadow-sm" style="border-radius: 8px !important;">

  <div class="card-header bg-white">
         <span class="text-muted fw-bold" style="font-size: 13px">
           ALL ACCOUNTS
         </span>
  </div>

  <div class="table-responsive text-center">


    <ng-container *ngIf="userAccountList$ | async as accounts; else loading">

      <table class="table table-borderless table-hover table-hover-custom text-start">
        <thead>
        <tr class="text-main" style="font-size: 13px">
          <th scope="col"></th>
          <th scope="col">Type</th>
          <th scope="col">Account name</th>
          <th scope="col">Status</th>
          <th scope="col">Currency</th>
          <th scope="col">Balance</th>
        </tr>
        </thead>

        <tbody>

        <ng-container *ngFor="let account of accounts">
          <tr (click)="viewDetail(account)">
            <th scope="row"><em class="bx bxs-credit-card text-secondary" style="font-size: 35px"></em></th>
            <td>{{ account.type }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.status }}</td>
            <td>{{ account.currency }}</td>
            <td>{{ account.balance }}</td>
          </tr>
        </ng-container>

        </tbody>

      </table>
    </ng-container>

    <ng-template #loading>
      <ng-container *ngIf="errorObject; else loading">
        <div class="col-12 text-center fw-bold text-danger p-4">
          Apparently an error occurred, try again or contact support
        </div>
      </ng-container>
      <ng-template #loading>
        <div class="col-12 text-center fw-bold  p-4">
          Loading ...
        </div>
      </ng-template>
    </ng-template>

  </div>

</div>

