<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-side sidebar collapse">
  <div class="position-sticky">

    <div class="text-center">
      <img src="../../../../../../assets/icon-dream-bank.png"
           height="70px"
           alt="dream bank">
    </div>

    <ng-container *ngFor="let items of menu">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-tertiary">
        <span>{{ items.title }}</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul *ngFor="let item of items.options" class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="{{ item.path }}"
             routerLinkActive="is-active">
            <span data-feather="file-text"></span>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </ng-container>

  </div>
</nav>
